

        <div class="signup-container">
            <div class="left-section">
                <img src = "assets/image1.png" alt="logo"/>
                <h2 class="title">Sign In</h2>
                <form>
                  

                    <label for="email" style="display:none;">Email Address:</label>
                    <input type="email" id="email" name="email" value="EmailAdress" style="color: grey;"><br>

                    <label for="password" style="display:none;">Password:</label>
                    <div class="password-container">
                        <input type="password" id="password" name="password" value="Password" style="color: grey;">
                        
                    </div>

                    
                </form>
                
                <button type="submit" class="signup-button">Log In</button>
                <p>Don’t have an account? <a routerLink="/creation">Sign Up</a></p>
            </div>

            <div class="right-section">
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a routerLink="/login">Log In</a></li>
                    </ul>
                </nav>
                <img src="assets/hypochondriac-amico-1-icon.svg" alt="" class="icon7" />
                <!-- Add your SVG images or other content here -->
            </div>
        </div>

    

